@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

html {
  box-sizing: border-box;
}
.container__first-text {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #fef2f4;
  height: 49px;
}

.first_text {
  font-weight: 300;
  text-align: right;
  margin-right: 50px;
}

/* ============== HEADER AND NAV ============== */

nav {
  background-color: #ee4c7c;
  position: fixed;
  width: 100%;
  height: 65px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.header a {
  color: #fff !important;
  position: relative;
}

.container_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;

  height: 162px;
  width: 245px;
  left: 102.5px;
  margin-top: 10px;
  border-radius: 0px;
  z-index: 3;
}

.div-logo {
  position: absolute;
}

.logo {
  width: 200px;
  height: 98px;
}

/* TODO: fix heigh 100% hover on nav-items */
.main-nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-nav li:hover {
  background-color: #e19bb0;
}

.main-nav li a {
  margin-left: 40px;
  font-weight: 500;
  font-size: 14px;
  display: block;
}

.main-nav li a:hover {
  background-color: #e19bb0;
}

/* ============== BANNER SECTION ============== */

.banner {
  width: 100%;
  position: relative;
}

.banner img {
  width: 100%;
}

.banner__text {
  position: absolute;
  width: 310px;
  height: 90px;
  top: 160px;
  left: 160px;
}

.banner__text h5 {
  font-weight: 400;
  font-weight: 500;
  font-size: 30px !important;
}

.banner__text-body {
  width: 327px;
  height: 78px;
  position: absolute;
  top: 240px;
  left: 160px;
}

.banner__text-body span {
  font-weight: 300;
}

.banner__text-section1 {
  font-weight: 400;
  color: #ee4c7c;
}
.banner__text-section2 {
  font-size: 30px !important;
  font-weight: 500;
  color: #ee4c7c;
}

/* ============== BODY - SECTIONS ============== */

.services__title {
  font-size: 30px;
  font-weight: 600;
}

.card {
  width: 346px !important;
  height: 549px !important;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.07);
}

.card img {
  width: 304px;
  height: 270px;
}

.card-title {
  font-weight: 500;
  font-size: 18px;
}

.card-text {
  font-weight: 300;
  font-size: 14px;
}

.services__info {
  width: 747px;
  margin: auto;
}

.services__info p {
  font-weight: 300;
}

.services__button {
  width: 135px !important;
  height: 39px !important;
  background-color: #ed2460;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
}

/* ============== FOOTER ============== */

.footer-container {
  height: 160px;
  background-color: #ee4c7c;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.25);
}

.footer-container__info {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-align: left;
}

.footer-container__title1 {
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}

.footer-container__subtitle {
  font-weight: 400;
  font-size: 6px;
  color: #fff;
  margin-left: 50px;
}

.footer-container__last-text {
  display: flex;
  align-items: center;
  width: 113px;
  height: 29px;
  margin-left: 70px;
}

.footer-container__last-text p {
  font-weight: 600;
  font-size: 9px;
  color: #fff;
}

.footer-container__info-title {
  font-weight: 600;
  font-size: 18px;
}

.footer-container__symbols img {
  margin-right: 30px;
}

/* ============== MODAL ============== */
.modalContainer {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-top: 10px solid #ee4c7c;
  width: 40%;
}

.modalContainer .close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content__title {
  text-align: center;
  color: #ee4c7c;
}

.modal-content__logo {
  margin: auto;
  width: 200px;
  height: 98px;
}

#btnClose:hover {
  color: #ed2460;
}

/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
  nav {
    height: auto;
  }
  .container_logo {
    display: none;
  }

  .banner {
    display: none;
  }
}
